* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SpaceGrotesk;
}
@font-face {
    font-family: SpaceGrotesk;
    src: url(./fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}
